ligmos/schemas/WFS.WFSPubDataSV.WavefrontData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="wavefrontData">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element name="time" minOccurs="0" type="xsd:dateTime"/>
                <xsd:element name="zernikesRMS_m" maxOccurs="unbounded" type="xsd:decimal"/>
                <xsd:element name="wavefrontFitResidualRMS_m" minOccurs="0" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
